section {
  @apply p-4;
}

.centered-section {
  @apply flex min-h-dvh h-auto flex-col items-center justify-center;
}

.heading-1 {
  @apply mb-5 text-center text-xl font-bold;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.no-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Track */
.no-scrollbar::-webkit-scrollbar-track {
  background: transparent !important;
}
